body {
  background-color: #323330;
  color: #ffdb58;
}

h1, h2, h3, h4 {
  color: #ffdb58;
}

form {
  margin: 20px;

}

.card, h4{
	color: #323330;
}
.btn-primary {
  background-color: #ffdb58;
  border-color: #ffdb58;
  color: black;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}