$mustard-yellow: #f5da55;

body {
  font-family: 'Lato', sans-serif;
  background: #43C6AC;  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ant-carousel .slick-slide {
  background: black;
  overflow: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}

*:focus {
outline: none;
}

.bggradient {
  background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
