$mustard-yellow: #f5da55;

body {
  font-family: 'Lato', sans-serif;

}

.ant-carousel .slick-slide {
  background: black;
  overflow: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1,h2 {
  font-weight: 900
}
